/* ------Buttons Style------ */
.my_buy_now_button{
    background-color: #a60000;
    color: white;
}

/* Hover Effect */
.my_buy_now_button:hover{
    color: white;
    background-color: #f00;
}

.my_info_button{
    color: white;
    background-color: #1360d9;
}

/* Hover Effect */
.my_info_button:hover{
    color: white;
    background-color: #0064ff;
}

.my_access_button{
    background-color: #464646;
    color: white;
}

/* Hover Effect */
.my_access_button:hover{
    color: white;
}
/* ----------------- */

.my_jumbotron_image{
    width: 70%;
}
/* Potrei dare una class=my_game_img!!!!!!!!!!!!!!!!  */
.my_game_wrapper{
    border: 3px solid transparent;
}

/* Hover Effect */
.my_game_wrapper:hover{
    border: 3px solid #0064ff;
}

/* ------Top Bar------ */
#my_top_bar{
    /* Style */
    background-color: black;
    /* Size Settings */
    height: 50px;
}


/* ------Jumbotron------ */
#my_jumbotron{
    /* Style */
    color: white;
    /* Size Settings */
    height: 80vh;
    /* Background Settings */
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}


/* ------Products------ */
#my_products_carousel_indicators .col{
    border-bottom: 2px solid transparent; 
}

/* Hover Effect */
#my_products_carousel_indicators .col:hover{
    border-bottom: 2px solid #0064ff;
}


/* ------Secondary Jumbotron------ */
#my_secondary_jumbotron{
    /* Style */
    color: white;
    /* Size Settings */
    height: 80vh;
    /* Background Settings */
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}


/* ------New Releases------ */
#my_new_releases{
    /* Style */
    color: white;
    background-color: #1f1f1f;
}


