/* ------Top Bar------ */
#my_top_bar{
    background-color: black;
    height: 50px;
}

.sony_logo{
    height: 100%;
}


/* ------Navigation Bar------ */
.my_access_button{
    background-color: #464646;
    color: white;
}

.my_access_button:hover{
    color: white;
}